/* -----------------------------------------
                IMPORT
----------------------------------------- */


@import url("photographer.css");

/* -----------------------------------------
                MINIRESET CSS
----------------------------------------- */

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* -----------------------------------------
               GENERAL CSS
----------------------------------------- */


body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    position: relative;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

a {
    text-decoration: none;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

/* -----------------------------------------
                INDEX CSS
----------------------------------------- */

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    text-align: center;
}

.photographer_section article h3 {
    color: #901C1C;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
}

.photographer_section article p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #000000;
}

.photographer_section article span {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color : #757575;
    
}


.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;

}

.header_card {
    text-align: center;
}

/* -----------------------------------------
               PHOTOGRAPHER PAGE CSS
----------------------------------------- */

.photograph-header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.photograph-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    
}

.photograph-header h1 {
    font-size: 64px;
    
}

.photograph-header h3 {
    font-size: 24px;
    color: #901C1C;    
}

.photo_menu_container {
    display: flex;
    align-items: center;
    padding-top: 30px;
    margin-left: 100px;
}


.photo_menu_container p {
    font-weight: bold;
    font-size: 18px;
}

.photo_menu_container select {
    margin-left: 15px;
    border: none;
    background-color: #901C1C;
    color: white;
    font-weight: bold;
    width: 170px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

.media_container {
    margin: auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
}

.media_container img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.media_container video {
    height: 300px;
}

.media_container article {
    margin-bottom: 30px;
    width: 30%;
    color: #901C1C;
    font-size: 18px;
}

.media_description {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.media_description button {
    border: none;
    background: none;
    color: #901C1C;
    font-size: 18px;
    font-weight: bold;
}

.tarifContainer {
    display: flex;
    justify-content: space-between;
    background-color: #DB8876;
    padding: 15px;
    width: 250px;
    position: fixed;
    bottom: 0px;
    right: 50px;
    z-index: 2;
}

textarea {
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

.like_container{
    display: flex;
}

/* -----------------------------------------
              LIGHTBOX
----------------------------------------- */
/* Modale */
.lightbox{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: 3;
}

.lightbox.show{
    display: initial;
}

.lightbox-content{
    max-width: 100%;
    height: 100vh;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.lightbox-content button {
    background: none;
    border: none;
    color: #901C1C;
    font-size: 50px;
}

.lightbox__right {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}


.lightbox-content img{
    height: 80vh;
}

.close{
    color: #901C1C;
    position: absolute;
    top: -370px;
}

.lightbox_title__container {
    position: absolute;
    bottom: 70px;
    left: 50px;
}

.lightbox_title {
    color: #901C1C;
    font-size: 18px;
}


 
